{% extends 'base.html' %}
{% load static %}
{% block title %}
    Details
{% endblock %}

{% block details %}
    
{% endblock %}

{% block body %}
    <!-- <div class="container"> 
        <div class="row">
            <div class="col-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Hp</th>
                            <th>Brand</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in details %}
                        <tr>
                            <td><a href="/info/{{i.id}}">{{i.name}}</a></td>
                            <td>{{i.price}}</td>
                            <td>{{i.hp}}</td>
                            <td>{{i.brand}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                  </table>
            </div>
        </div>
    </div> -->
    <div class="container-fluid bg-success p-4 text-dark bg-opacity-25">
        <div class="row my-4">
            {% for i in details %}
            <div class="col-4 my-2">
                <div class="card" style="width: 18rem;">
                    <!-- <img src="{% static "dj_app/media/house.jpg" %}" alt="home" /> -->
                    <!-- images/{{i.img}} -->
                    <img src="/static/{{i.img}}" class="card-img-top" alt="...">
                    <hr>
                    <div class="card-body">
                      <h5 class="card-title"><a href="/info/{{i.id}}">{{i.name|slice:"0:28"}}</a></h5>
                      <p class="card-text">{{i.desc|slice:"0:70"}}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Type: {{i.typ}}</li>
                      <li class="list-group-item"><h5>{{i.price}} Rs.</h5>  Brand: {{i.brand}}</li>
                      <!-- <li class="list-group-item">A third item</li> -->
                    </ul>
                    <!-- <div class="card-body">
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div> -->
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}